<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar SHOP</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>

        <h1>
            GUITAR SHOP!
        </h1>
        <div class="guitars">
            <div class="guitarras">
                <img src="images\banner.jpg" alt="Foto de Guitarras"/>
            </div>             
        </div>

    </header>
       
    <section>
        <h2>
            INGRESA A VER NUESTROS PRODUCTOS
        </h2>
            <div class="modelos">
                <div class="explorer">
                    <img src="images\explorer roja.jpg" alt="Foto de Guitarras"/>
                </div> 

                <div class="randy">
                    <img src="images\jackson randy.jpg" alt="Foto de Guitarras"/>
                </div>
            </div>             
            


        


    </section>
    
   
   
    

</body>
</html>