
*{
    box-sizing:border-box;
}

body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.oculto {
    display: none;
}
.contenedor01{
    width: 70%;
    max-width: 1200px;
    padding: 20px;
    border: solid 5px black;
    background-color:salmon;
    box-sizing: border-box;
    margin: 0 auto;
}
@media (min-width: 570px) {
   
    .contenedor01{
        border: solid 5px salmon;
        background-color:black;
        color: white;
       
    }
}
@media (min-width: 900px) {
   
    .contenedor01{  
        color: red;

       
    }
    .oculto{
        display: block
    }
}
